.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
tests
.eslintrc
docker-compose.yml
docker/
coverage/
node_modules/
.gitignore
.npmignore
.node-version
Dockerfile
